<div class="container" id="homecol">
  <%= render "layouts/alert"%>
  <header><h1>Mob the Spec</h1></header>

<article>

  <section><p><em>Stop the madness. Get everyone's buy-in at the start of the project, and keep your spec up-to-date with SpecMob.</em></p>

  <h4>How does SpecMob work?</h4>
  <p>Project planning is by nature a collaborative process. When it is left up to a single member of the team, it is bound to be incomplete. Team members are also likely to work from their own specification if the official one is unclear. It is vitally important to get input from the entire team at the onset of the project.</p>
<section>
</article>
<!-- <hr>
<div class="span2"><%= image_tag("open-source.png", :alt => "open source") %>
</div>
<article class="span6"><header><h2>Modular Village is not Complete</h2></header>
    <section><p>We need your help making this open-source project a reality. Marketers, subject-matter experts (such as scientists, architects, engineers, and civil servants), startup mentors, designers, developers, and anyone who is passionate about the project, <%=link_to "sign up here", "#"%> to help develop this exciting open-source application. </p>
    <p>Developers, check out our <%=link_to "github repository.", "https://github.com/m8ker/modular_village"%></p></section>
</article> -->

