
@import "font-awesome";

body {
  padding-top: 80px;
}

.pull-center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



/*** STARRING Styles ***/

a.not-starred:hover {
	color: red;
}

a:hover > i.not-starred {
	color: orange;
	text-decoration: none;
}

a:hover > i.starred {
	color: #AFAFAF;
	text-decoration: none;
}

i.starred {
	color: orange 
}

i.not-starred {
	color: #AFAFAF
}


/*** VOTING Styles ***/
.link_col {
	margin-left: 0px;
}

.vote_count {
	margin: 0;
	padding: 0;
}

.voted_up {
	a > i.vote_up, .vote_count {
		color: green;
		text-decoration: none;
	}
	a > i.vote_down {
		color: grey;
	}
	a:hover > i.vote_down {
		color: red;
	}		
}

.voted_nil {
	a, .vote_count {
		color: grey;
		text-decoration: none;
	}
}

.voted_down {
	a {
		text-decoration: none;
	}
	a > i.vote_up {
		color: grey;
	}
	a > i.vote_down, .vote_count {
		color: red;
	}
}

/*** OTHERStyles ***/

#trailer {
	margin-top: 15px;
}

.greybox {
	text-align: center; 
	margin-top: 30px;
	padding: 50px 30px 70px 30px;
	background-color: #e5ebed;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
}

.whitebox {
	padding: 10px 10px 10px 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .25);
}

.center-box {
	text-align: center;
	p {padding: 0px 20px 0px 20px;}
}

.subhead1 {
	font-size: 2em;
	color: #999999;
	line-height: 1.4em;
	margin-bottom: 5px;
}

.subhead2 {
	font-size: 1.4em;
	color: #999999;
	line-height: 1.4em;
	margin-bottom: 3px;
}

.large_em {
		font-family: georgia;
	margin-top: 5px;
	font-size: 1.4em;
	line-height: 36px;
	color: #646464;
}

.label, .badge {
	font-weight: normal;
}

.colscroll {
	overflow: scroll;
}

.scootright {
	position: relative;
	left: 20px;
}

.cols {
	padding: 20px 20px 20px 20px;
	background-color: #EDF0F2;
}

.no_margin {
	margin-bottom: 0px;
}